/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans Courier New', Courier, monospace;
}

body {
    background-color: rgb(203, 203, 203);
}